:root {
    --main-width: 1000px;
}

.post-content table {
    width: 100%;
}

.post-content table td:first-child {
    white-space: nowrap;
}

.post-content table th,
.post-content table:not(.highlighttable, .highlight table, .gist .highlight) td {
    min-width: 0;
    padding: 4px 8px;
    line-height: 1.4;
}
