html {
    position: relative;
    min-height: 100%;
}

.fa, .ai {
    color:black;
    padding-right:2px;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position:relative;
}

.title {
    margin-top:12px;
}

address {
    margin-bottom:10px;
}

.dt-teaching{
    margin-top: 7px;
    font-weight: normal;
}

.navbar-logo > img {
    padding: 0px 7px;
    max-height: 35px;
}

.header-row {
    margin-bottom: 20px;
    margin-top: 20px;
}

.margin-custom {
    margin-bottom: 20px;
}

.bib-nb {
    float:left;
}
.bib-content{
    margin-left: 30px;
}
.bib-entry{
    margin-bottom: 10px;
}
.bib-booktitle {
    color: #8f682b;
}

.italic {
    font-style: italic;
}

.media img {
    width:64px;
}

.site-footer {
    border-top:1px solid #e8e8e8;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.id-photo > img{
    max-height: 230px;
}