body {
    padding-top: 50px;
}

#id-card a {
    color: black;
}

#id-card {
    margin-bottom: 20px;
}

.bib-content{
    margin-left: 30px;
}
.bib-entry{
    margin-bottom: 10px;
}
.bib-booktitle {
    /*color: #8f682b;*/
    color: black;
}

.paper-color {
    background-color: rgba(135,97,204, 0.80);
    border-color: rgba(135,97,204, 0.85);
    color: white;
}

.paper-color:hover {
    background-color: rgba(135,97,204, 0.95);
    border-color: rgba(135,97,204, 1.0);
    color: white;
}

.poster-color {
    background-color: rgba(108,184,74, 0.80);
    border-color: rgba(108,184,74, 0.85);
    color: white;
}

.poster-color:hover {
    background-color: rgba(108,184,74, 0.95);
    border-color: rgba(108,184,74, 1.0);
    color: white;
}

.slides-color {
    background-color: rgba(195,97,170, 0.80);
    border-color: rgba(195,97,170, 0.85);
    color: white;
}

.slides-color:hover {
    background-color: rgba(195,97,170, 0.95);
    border-color: rgba(195,97,170, 1.0);
    color: white;
}

.bibtex-color {
    background-color: rgba(203,84,105, 0.8);
    border-color: rgba(203,84,105, 0.85);
    color: white;
}

.bibtex-color:hover {
    background-color: rgba(203,84,105, 0.95);
    border-color: rgba(203,84,105, 1.0);
    color: white;
}

.site-footer {
    border-top:1px solid #e8e8e8;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.post-list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 20px;
}

.post-list li {
    margin-bottom: 60px;
}

.post-list h3 a {
    color: rgba(208,80,51, 0.85);
    text-decoration: none;
}

.post-list h3 a:hover {
    color: rgba(208,80,51, 1.0);
    text-decoration: none;
}


.blockquote-post {
    border-left: 4px solid #bbbbbb;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin:0;
    background: #f0f0f0;
}

.blockquote-post p {
    margin:0;
}
